@tailwind base;
@tailwind components;
@tailwind utilities;

.project-container {
  position: relative;
  overflow: hidden;
}

.project-description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1; /* Garante que a descrição fique abaixo dos links */
}

.project-container:hover .project-description {
  opacity: 1;
  transform: translateY(0);
}

.project-container .project-links {
  position: relative;
  z-index: 2; /* Garante que os links fiquem acima da descrição */
}
